:root{
    --fonts:"Inter",sans-serif;
    --bg_color:linear-gradient(135deg, #7D8EDB, #CC8CC0,#DBB376);
    --bg_button:#0A162D;
    --color_button_text: #B45453;
}

body{
    height: 800px;
    background-image: white;
    color: var(--bg_button);
    font-family: var(--fonts);
    
}
.container{
    width: 99%;
    height: 780px;
    background-image: var(--bg_color);
    border-radius: 9%;
    justify-content: center;
    margin: 40px 0px 30px 0px;
    padding-left: 28px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container__header{
    width: 1243px;
    height: 100px;
}
.container__header h1{
    text-align: center;
}
.container__input{
    width: 500px;
    height: 500px;
    margin-left: 5%;
}
.container__input p{
    font-weight: 400;
    margin-left: 6%;
}

.input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}
.input__text{
    width: 400px;
    height: 300px;
    border-radius: 2%;
    border-color: var(--bg_button) 1px solid;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    font-weight: 400;
    margin:23% 0px 0px 5%;
}
::placeholder{
    color: var(--bg_button);
}
#container__output{
    width: 440px;
    height: 300px;
    margin-left: 90px;
    padding: 2%;
}
.container__output__img{
    width: 56px;
    height: 56px;
    display: flex;
    margin-left: 45%;
}
#container__output h2{
    text-align: center;
}
.copiar{
    margin-top: 20%;
    align-items: center;
    margin-left: 30%;
    display:none;
}
.container__buttons{
    width: 740px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    margin-left: 8%;
    align-items: center;
}

.container__buttons__button{
    display: flex;
    gap: 20px;
}
.copiar,
.criptografar,
.descriptografar{
    background-color: var(--bg_button);
    color: var(--color_button_text);
    height: 67px;
    width: 200px;
    border-radius: 24px;
    padding: 24px;
    font-family: initial;
    font-family: var(--fonts);
    font-size: 16px;
    transition: 0.2s;
}

.copiar:hover,
.criptografar:hover,
.descriptografar:hover{
    background-color: var(--color_button_text);
    color: var(--bg_button);
    font-weight: 800;
}


.rodape{
    width: 1140px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 60px 0px 20px 90px;
}
.rodape__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.linkedin,
.github{
    color: var(--bg_button);
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    transition: 0.2s;
}

.linkedin:hover,
.github:hover{
    font-weight: 900;
}

@media(width<1200px){
    .container{
        width: 100%;
    }
    .container__input{
        width: 40%;
    }
    #container__output{
        width: 40%;
    }
    .container__buttons{
        height: 60px;
    }
    .copiar{
        margin-top: 320px;
    }
    .copiar,
    .descriptografar,
    .criptografar{
        width: 150px;
        height: 64px;
        font-size: 14px;
        padding: 15px;
    }

}
@media(width<840px){
    .container__input{
        width: 30%;
    }
    #container__output{
        width: 40%;
        height: 200px;
    }
    #container__output h2{
        font-size: 21px;
    }
    .container__output__span{
        font-size: 14px;
    }
    .container__buttons__button{
        width: 40%;
        height: 150px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .copiar{
        margin-top: 250px;
        
    }
    .copiar,
    .descriptografar,
    .criptografar{
        width: 35%;
        height: 60px;
        display: flex;
        justify-content: center;
        font-size: 12px;
        overflow: hidden;
        text-align: center;
        
    }

    @media(width<420px){
     
        body{
        display: flex;
        flex-direction: column;
        height: 900px;
        }
        .container{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin:0px 2% 0px 1%; 
            height: 1500px;
        }
        .container__header{
            width: 70%;
            font-size: 20px;
            display: flex;
            font-size: 14px;
            align-items: center;
            justify-content: center;
            margin-left: 12%;
        }

        .container__input{
            width: 80%;
            height: 400px;
        }
        .container__buttons{
            margin-left: 12%;
        }
        .input__text{
            height: 350px;
        }
        p{
            width: 100%;
            padding-left: 9%;
        }
        #container__output{
            align-items: center;
            justify-content: center;
            margin-top: 55%; 
            height: 300px;
        }
        .container__output__img{
            margin-left: 45px;
        }
        .container__output__span{
            height: 320px;
        }
        .copiar{
            margin:94% 0px 0px 22px;
            width:100px;
        }
        .rodape{
            width: 40%;
            margin-top: 40%;
        }

    }
       
}